.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #262626;
  color: #D9D9D9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 100%;
  background-color: transparent;
  padding: 1rem;
  color: white;
  border: 2px solid white;
  border-radius: 50px;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
  margin-bottom: 20px;
}

button:hover {
  background-color: #FFFEF1;
  color: #2C5E2E;
}

button:focus {
  outline: 0;
}


.counter {
  display: flex;
  align-items: flex-end;
}

.counter > button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #737373;
  color: #D9D9D9;
  font-size: 1.5rem;
}

.counter > button:hover {
  background-color: #404040;
  color: #D9D9D9;
}

.counter > button:focus {
  outline: none;
}

.counter--count {
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #262626;
}

.counter--plus {
  margin-left: -20px;
}

.counter--minus {
  margin-right: -20px;
  z-index: 1;
}